body {
	font-size: 10px;
}

header {
	font-size: 26px;
	font-size: 2.6em;
	font-family: 'Old Standard TT', serif;
}

article {
	font-size: 16px;
	font-size: 1.6em;
	font-family: 'Merriweather', serif;
}

.email {
	font-family: 'PT Mono', ;
}
