header {
	height: 60px;
	background-color: #317490;
	color: #fafafa;
	
	.index & {
		.header__name {
			display: none;
		}
	}

	.header__name {
		padding: 15px;

		.home__link {
			border: none;
			border-radius: 0;
			padding: 0;
			background-color: transparent;
			color: #fafafa;
		}
	}

	.header__nav-main {
		a {
			border: 1px solid #fafafa;
			border-radius: 5px;
			padding: 5px;
			background-color: #4c89a3;
		}
	}
	
	.header__nav-links {
		display: none;
	}

	.header__menu {
		position: absolute;
		top: 10px;
		right: 10px;
		text-decoration: none;
		color: #fafafa;
	}

	@media screen and (min-width: 450px) {
		& {
			height: 150px;
		}

		.index & {
			.header__name {
				display: block;
			}
		}

		.header__name {
			text-align: center;
			display: block;
			line-height: 100px;
			padding: 0;
		}

		.header__menu {
			display: none;
		}

		.header__nav-links {
			display: block;
			text-align: center;

			li {
				display: inline;
				padding: 10px;
			}

			a {
				border: none;
				border-radius: 0;
				padding: 0;
				background-color: transparent;
				text-decoration: none;
				color: #fafafa;

				&:hover,
				&.current {
					border-bottom: 2px solid #e5b847;
				}
			}
		}
	} 

	@media screen and (min-width: 900px) {
		& {
			height: 60px;
		}

		.header__nav-main {
			max-width: 900px;
			margin: 0 auto;
			padding-top: 10px;
		}

		.header__name {
			float: left;
			line-height: normal;

			.index & {
				display: none;
			}
		}

		.header__nav-links {
			float: right;

			li {
				padding: 3px;
			}

			a {
				&:hover,
				&.current {
					border-bottom: none;
					color: #e5b847; 
				}
			}
		}
	}
}

