header {
	height: 150px;
	background-color: #bbbbbb;
	
	.header__name {
		text-align: center;
		line-height: 150px;
	}

	.header__nav-main {
	}
	
	.header__nav-links {
		display: none;
	}

	.header__menu {
		position: absolute;
		top: 10px;
		right: 10px;
		text-decoration: none;
		color: #000000;
	}

	@media screen and (min-width: 450px) {
		.header__name {
			line-height: 110px;
		}

		.header__menu {
			display: none;
		}

		.header__nav-links {
			display: block;
			text-align: center;

			li {
				display: inline;
				padding: 10px;
			}

			a {
				text-decoration: none;
				color: #000;

				&:hover,
				&.current {
					border-bottom: 2px solid #000;
				}
			}
		}
	} 

	@media screen and (min-width: 900px) {
		& {
			height: 60px;
		}

		.header__nav-main {
			max-width: 900px;
			margin: 0 auto;
			padding-top: 10px;
		}

		.header__name {
			float: left;
			line-height: normal;
		}

		.header__nav-links {
			float: right;

			li {
				padding: 3px;
			}

			a {
				&:hover,
				&.current {
					border-bottom: none;
					color: #fff; 
				}
			}
		}
	}
}

