.home {
	h2 {
		font-size: 26px;
		font-size: 2.6em;
		padding: 10px;
		text-align: center;
	}

	article {
		padding: 0 10px 10px;
		line-height: 1.25;
	}

	@media screen and (min-width: 450px) {
		& {
			width: 80%;
			margin: 0 auto;
		}

		h2 {
			width: 82%;
			margin: 0 auto;
		}
	}

	@media screen and (min-width: 550px) {
		& {
			max-width: 440px;
		}
	}
}