.home {
	h2 {
		padding: 10px;
		text-align: center;
	}

	article {
		padding: 0 10px 10px;
		line-height: 1.25;
	}

	@media screen and (min-width: 450px) {
		& {
			width: 80%;
			margin: 0 auto;
		}

		h2 {
			width: 82%;
			margin: 0 auto;
		}
	}

	@media screen and (min-width: 900px) {
		&,
		h2 {
			width: auto;
		}

		h2 {
			background-color: #bbbbbb;
			height: 90px;
		}

		article {
			max-width: 440px;
			margin: 0 auto;
		}
	}
}