@import '_reset';
@import '_fonts';
@import '_aboutMe';
@import '_header';
@import '_footer';
  
* {
	box-sizing: border-box;
}

body {
	background-color: #317490;
}

a {
	text-decoration: none;
	color: #a12a0d;
}

body .content_wrapper {
	background-color: #fafafa;
}

.group:after {
  content: "";
  display: table;
  clear: both;
}