.portfolio {
	padding: 10px;

	li {
		padding: 20px 0;
	}

	h2 {
		text-align: center;
	}

	h4 {
		padding: 10px 0 10px 15px;
	}

	p {
		line-height: 1.25;
		padding-left: 15px;
	}

	@media screen and (min-width: 450px) {
		h2 {
			display: none;
		}

		article {
			p {
				line-height: 1.5;
			}
		}
	}

	@media screen and (min-width: 500px) {
		& {
			width: 500px;
			margin: 0 auto;
		}
	}

	@media screen and (min-width: 900px) {
		& {
			width: 700px;
		}

		li {
			border-bottom: 1px solid #000;

			&:last-child {
				border: none;
			}
		}

		h3 {
			width: 30%;
			float: left;
			padding-top: 9px;
		}

		article {
			width: 65%;
			float: right;

			p {
				line-height: 1.75;
			}
		}
	}

}